@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    width: 1280px;
    max-width: 1280px;
}

.nav-content{
    color: white;
}

.nav-links{
    color: white;
}

.footer-text{
    color: white;
}

.custom-card-image .card.image-full:before{
    border-radius: 0.5rem;
    opacity: 0.45;
}